/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1366px) {
	.container{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 1150px){


}

@media only screen and (max-width: 1024px) {
	.video__wrapper{
		width: 100%;
		height: 400px;
	}

}

@media only screen and (max-width: 925px){

	
}

@media only screen and (max-width: 767px) {
	.logo-block{
		padding-bottom: 120px;
	}

	.language__select{
		margin-top: 25px;
		width: 100%;
		position: static;
		text-align: center;
	}

	.language{
		float: none;
	}
}

@media only screen and (max-width: 650px) {
	.input{
		width: 100%;
		font-size: 30px;
	}

	.butt{
 		margin-top: 100px;
 	}

 	.counter{
 		width: 439px;
 		height: 439px;
	    line-height: 409px;
	    border: 10px solid #fff; 
	    font-size: 200px;
 	}

 	.chart {
	    width: 439px !important;
	    height: 439px !important;
	    margin: 109px auto 0;
	}

	    .chart > div{
	        width: 439px !important;
	        height: 439px !important;
	    }

	    .ab{
	    	line-height: 429px !important;
	    }

	    .cir{
	    	margin-left: -3px;
    	    width: calc(100% - 20px) !important;
		    height: calc(100% - 20px) !important;
		    display: inline-block !important;
		    line-height: 399px !important;
	    }

	    .perc{
	    	line-height: 399px !important;
	    	font-size: 140px !important;
	    }

}

@media only screen and (max-width: 550px) {

}

@media only screen and (max-width: 479px) {
 	.video__wrapper{
		width: 100%;
		height: 300px;
	}

	.video__wrapper .vjs-default-skin .vjs-big-play-button{
		width: 121px;
    	height: 121px;
    	-webkit-background-size: 100%;
    	background-size: 100%;
	}

	.counter{
 		width: 309px;
 		height: 309px;
 		line-height: 299px;
	    border: 5px solid #fff; 
 	}

 	.chart {
	    width: 309px !important;
	    height: 309px !important;
	    margin: 109px auto 0;
	}

	    .chart > div{
	        width: 309px !important;
	        height: 309px !important;
	    }

	    .ab{
	    	line-height: 300px !important;
	    }

	    .cir{
	    	margin-left: -3px;
    	    width: calc(100% - 10px) !important;
		    height: calc(100% - 10px) !important;
		    display: inline-block !important;
		    line-height: 299px !important;
	    }

	    .perc{
	    	line-height: 299px !important;
	    	font-size: 100px !important;
	    }
}

@media only screen and (max-width: 400px) {
 	.butt{
 		width: 100%;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    font-size: 25px;
 	}
}