@import "../css/reset.css";
@import "../css/video-js.css";

@font-face {
    font-family: Roboto-thin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-black;
    src: url(../fonts/Roboto-Black.ttf);
}

input {outline:none;}

body{
	background-color: #edf1f6;
    min-width: 320px;
}

*{
    box-sizing: border-box !important;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.reg{
    text-transform: uppercase;
}

.pt80{
    padding-top: 80px;
}

.logo-block{
	padding-top:80px;
	padding-bottom:300px;
    position: relative;
}

.logo{
	text-align: center;
	height:45px;
	padding-top:10px;
}

.language__select{
    position: absolute;
    right: 50px;
    top: 0;
}

.language{
    display: inline-block;
	font-family: Roboto-black;
    float: left;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.language:hover{
	cursor:pointer;
}

.language.active:hover{
	cursor:auto;
}

.language.active{
	background-color: #11efef;
    border-radius: 23px;
}

[name=login_form]{
	text-align:center;
}

.input{
    font-family: Roboto-thin;
    font-size: 78px;
    background: none;
    border: 0px;
    border-bottom: 2px solid gray;
    width: 575px;
    padding-left: 5px;
    padding-right: 5px;
}

.butt{
    display: inline-block;
    text-decoration: none;
    margin-top: 200px;
    font-family: Roboto-black;
    background-color: #11efef;
    width: 345px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px;
    color: white;
    font-size: 30px;
    border-radius: 35px;
    cursor: pointer;
    border: 2px solid transparent;
}

.chart {
    width: 639px !important;
    height: 639px !important;
    margin: 109px auto 0;
}

    .chart > div{
        width: 639px !important;
        height: 639px !important;
    }

    .ab,
    .cir{
        width: 100% !important;
        height: 100% !important;
        text-align: center !important;
        line-height: 639px !important;
    }

    .ab{
        line-height: 636px !important;
        background-color: #cccccc !important;
        /*background-image: linear-gradient(360deg, transparent 50%, rgb(70, 207, 176) 50%), linear-gradient(90deg, rgb(70, 207, 176) 50%, transparent 50%);*/
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#009cff',GradientType=0 ) !important; /* IE6-9 */
    }

    .cir{
        vertical-align: middle;
        width: calc(100% - 40px) !important;
        height: calc(100% - 40px) !important;
        display: inline-block !important;
        line-height: 559px !important;
        background: #edf1f6 !important;

    }

    .perc{
        display: inline-block !important;
        font-size: 180px !important;
        color: #2a3038 !important;
        font-weight: 300 !important;
        line-height: 599px !important;
        font-family: Roboto-thin !important;
        text-align: center !important;
        width: 100% !important;
        height: 100% !important;      
    }

.counter{
    width: 639px;
    height: 639px;
    border: 20px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 599px; 
    font-size: 300px;
    color: #2a3038;
    font-weight: 300;
    font-family: Roboto-thin;
    margin: 109px auto 0;
}

.video__wrapper{
    width: 929px;
    height: 576px;
    margin: 90px auto 0;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

    .video__wrapper.active{
        opacity: 1;
        visibility: visible;

        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .video__wrapper .video-js{
        width: 100% !important;
        height: 100% !important;
    }

    .video-js{
        margin-bottom: 64px;
    }

    .video__wrapper .vjs-poster::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(42,48,57, .7);
    }

    .video__wrapper .vjs-default-skin .vjs-big-play-button{
        background: url(../images/play_btn.png) 0 0 no-repeat;
        width: 221px;
        height: 221px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: none;
        background-color: none !important;
        box-shadow: none;
        border-radius: 50%;
    }

    .video__wrapper .vjs-default-skin:hover .vjs-big-play-button,
    .video__wrapper .vjs-big-play-button:focus{
        background-color: none;
    }

        .video__wrapper .vjs-default-skin .vjs-big-play-button:before{
            display: none;
        }

.video_form .butt{
    margin-top: 0;
}

.butt:hover{
    background: none;
    border-color: #11efef;
    color: #11efef;
}

.butt.var2{
    border-color: #b7b7b7;
    background: none;
    color: #b7b7b7;
}

.butt.var2:hover{
    background: #b7b7b7;
    color: #fff;
}

.pb100{
    padding-bottom: 100px;
}